<a href="/accounts">Accounts</a><br />
<a href="/transactions">Transactions</a>

<h2>Account Details</h2>

<p>ID: {{account?.id}}</p>
<p>Name: {{account?.name}}</p>
<p>Amount: {{account?.totalAmountFormatted | currency:'EUR':'symbol':'1.2-2':'de'}}</p>

<h2>Transactions</h2>

<table>
  <tr>
    <th *ngFor="let column of columns">
      {{column}}
    </th>
  </tr>
  <tr *ngFor="let transaction of transactions">

    <td>{{transaction.id}}</td>
    <td>{{transaction.name}}</td>
    <td>{{transaction.amount}}</td>

    <td>{{transaction.amountFormatted | currency:'EUR':'symbol':'1.2-2':'de'}}</td>

    <td>{{transaction.SourceId}}</td>
    <td>{{transaction.TargetId}}</td>

    <td>{{transaction.createdAt}}</td>
    <td>{{transaction.localCreatedAt}}</td>

    <td>{{transaction.dateTime}}</td>
    <td>{{transaction.localDateTime}}</td>

  </tr>
</table>
