<a href="/accounts">Accounts</a>

<div>
  <h2>Transaction Add</h2>
  <div>
    <label>Name:
      <input [(ngModel)]="transactionData.name" placeholder="Transaction Name" />
    </label>
    <br>

    <label>Amount:
      <input [(ngModel)]="transactionData.amount" placeholder="Transaction Amount" />
    </label>
    <br>

    <label>Source Account:
      <select [(ngModel)]="transactionData.SourceId">
        <option *ngFor="let virtualAccount of accounts" [ngValue]="virtualAccount.id">{{virtualAccount.name}}</option>
      </select>
    </label>
    <br>

    <label>Target Account:
      <select [(ngModel)]="transactionData.TargetId">
        <option *ngFor="let virtualAccount of accounts" [ngValue]="virtualAccount.id">{{virtualAccount.name}}</option>
      </select>
    </label>
    <br>

    <label>Date Time:
      <angular2-date-picker [(ngModel)]="transactionData.dateTime" [settings]="settings"></angular2-date-picker>
    </label>
    <br>

    <label>Apply:
      <input type="checkbox" [(ngModel)]="transactionData.apply" [checked]="transactionData.apply " />
    </label>

  </div>
  <button (click)="addTransaction()">Save</button>
</div>
