<h2>Account List</h2>

<div>
  <h2>Account Add</h2>
  <div>
    <label>Name:
      <input [(ngModel)]="accountData.name" placeholder="Account Name" />
    </label>
    <br>
    <label>Virtual:
      <input type="checkbox" [(ngModel)]="accountData.virtual" [checked]="accountData.virtual" />
    </label>
  </div>
  <button (click)="addAccount()">Save</button>
</div>

<ul class="accounts">
  <li *ngFor="let a of accounts; let i=index;">
    <a routerLink="/account-details/{{a.id}}">
      <span class="badge">{{i+1}}</span> {{a.name}}
    </a>
    <button class="delete" title="delete account" (click)="delete(a.id)">delete</button>
  </li>
</ul>
