<a href="transactions">Transactions</a>

<div>
  <h2>Account Add</h2>
  <div>
    <label>Name:
      <input [(ngModel)]="accountData.name" placeholder="Account Name" />
    </label>
    <br>
    <label>Virtual:
      <input type="checkbox" [(ngModel)]="accountData.virtual" [checked]="accountData.virtual" />
    </label>
  </div>
  <button (click)="addAccount()">Save</button>
</div>

<h2>Account List</h2>

<ul class="accounts">
  <li *ngFor="let account of accounts; let i=index;">
    <a routerLink="/account-details/{{account.id}}">
      {{account.name}}
      - {{account.totalAmountFormatted | currency:'EUR':'symbol':'1.2-2':'de'}}
    </a>
  </li>
</ul>
